button:hover {
    color:yellowgreen;
    text-align: center;
}

.btn1 {

    height: 40px;
    width: 40px;
    margin: 20px;
}

.s1{
    text-align: center;
    margin-top: 200px;
}
.s {
    text-align: center;
    margin-left: 585px;


    width: 70px;
    
    border: 4px solid gainsboro;

   
}  
p{
    text-align: center;
}
